<div class="col-md-12">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 ">
      <div class="card">
        <div class=" card-header card-header-primary" data-background-color="purple">
          <h2 class="text-center">Crear administrador</h2>
        </div>
        <div class="card-content">

          <app-crear-persona></app-crear-persona>
          <div class="row">
            <div class="col-md-10 offset-1">
              <!--<div *ngIf="!crearPersona.formularioPersona.valid && crearPersona.formularioPersona.touched" class="text-danger">-->
              <!--Rellene la información necesaria para la persona-->
              <!--</div>-->

              <!--<div *ngIf="!crearUsuario.formSite.valid && crearUsuario.formSite.touched" class="text-danger">-->
              <!--Rellene la información necesaria para el usuario-->
              <!--</div>-->

              <!--<div *ngIf="!crearEstudiante.formStudent.valid &&-->
              <!--crearEstudiante.formStudent.touched"-->
              <!--class="text-danger">-->
              <!--Rellene la información necesaria para el estudiante-->
              <!--</div>-->
              <!--<div class="text-danger">{{ error }}</div>-->
              <!--<div class="text-danger" *ngIf="errorDeAPI != undefined">{{ errorDeAPI.respuesta }}</div>-->

              <button class="btn btn-primary btn-round" (click)="registrarAdminsitrador()" type="submit" >Crear</button>
              <a routerLink=".." class="btn btn-danger btn-round" >Cancelar</a>
            </div>
          </div>


        </div>

      </div>


    </div>
  </div>
</div>
