<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-header card-header-primary" data-background-color="purple">
        <h4 class="card-title">Información del estudiante</h4>
      </div>
      <div class="card-content">
        <form [formGroup] = "formularioEstudiante">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Número de carne</label>
                <input type="number"
                       class="form-control"
                       formControlName="numeroCarne"
                >
                <span *ngIf="!formularioEstudiante.get('numeroCarne').valid && formularioEstudiante.get('numeroCarne').touched">

                  <div *ngIf="formularioEstudiante.get('numeroCarne').errors['required']" class="text-danger"> Este campo es necesario</div>
                  <div *ngIf="formularioEstudiante.get('numeroCarne').errors['min']" class="text-danger"> El numero de carne tiene que ser de por lo menos 8 dígitos</div>
                  <div *ngIf="formularioEstudiante.get('numeroCarne').errors['max']" class="text-danger"> El numero de carne tiene que ser de maximo 10 dígitos</div>
                </span>
              </div>
            </div>
            <div class="col-md-6">
                <label class="bmd-label-floating">Foto</label>
                <input type="file"
                       class="form-control"
                       style="display: none"
                       (change)="cambioEnArchivo($event)"
                       #archivo
                       formControlName="foto"
                >
                <button class="btn btn-primary btn-round" (click)="archivo.click()">Seleccione su archivo</button>

                <br>
                <label>Nombre del archivo: {{nombreArchivo}}</label>
                <br>
                <span *ngIf="!formatoArchivoCorrecto" class="text-danger">
                  Los formatos permitidos son SVG, PNG, JPG, JPEG
                </span>
              </div>

            </div>

          <div class="row">
            <div class="col-md-4">
              <label class="bmd-label-floating"> Universidades</label>
              <div class="form-group">
                <select class="form-control" (change)="obtenerSedes()"
                        id="universidades"
                        formControlName="universidad">
                  <option *ngFor="let universidad of universidades | async" [value]="universidad.IdUniversidad" >
                    {{ universidad.NombreUniversidad }}
                  </option>
                </select>
              </div>

            </div>

            <div class="col-md-4">
              <label class="bmd-label-floating"> Sedes</label>
              <div class="form-group">
                <select class="form-control" (change)="obtenerCarreras()"
                        id="sedes"
                        formControlName="sede">
                  <option *ngFor="let sede of sedes | async" [value]="sede.IdSede" >
                    {{ sede.NombreSede }}
                  </option>
                </select>
              </div>

            </div>

            <div class="col-md-4">
              <label class="bmd-label-floating"> Carreras</label>
              <div class="form-group">
                <select class="form-control"
                        id="carreras"
                        formControlName="carrera">
                  <option *ngFor="let carrera of carreras | async" [value]="carrera.IdCarrera" >
                    {{ carrera.NombreCarrera }}
                  </option>
                </select>
              </div>

            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>

</div>
