<div class="col-md-12">
  <div class="text-center">
    <div class="btn-group">
      <button (click)="componenteEmpresasAprobadas()" class="btn btn-primary btn-round">Empresas</button>
      <button (click)="componenteAprobarEmpresas()" class="btn btn-primary btn-round">Aprobar empresas </button>
    </div>

  </div>
</div>


<div *ngIf="aprobarEmpresas">
  <app-aprove-companies><app-aprove-companies>
</div>
<div *ngIf="empresasAprobadas">
  <app-empresas-aprobadas></app-empresas-aprobadas>
</div>
