<div class="col-md-12">
  <a class="btn btn-primary" routerLink="aprobarEmpresa" >Aprobar empresas</a>
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title ">Empresas</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive table-hover">
        <table class="table">
          <thead class=" text-primary">
          <th>
            Nombre de la empresa
          </th>
          <th>
            Nombre del contacto con la empresa
          </th>

          </thead>
          <tbody>
          <tr>
            <td>Intel</td>
            <td>Alguien random</td>
            <td><i class="material-icons">edit</i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
