<div class="row">
   <div class="col-md-10 col-md-offset-1">
      <div class="card">
         <div class="card-header card-header-primary" data-background-color="purple">
            <h4 class="card-title">Evaluacion</h4>
         </div>
         <div class="card-content">
            <form [formGroup] = "formularioEvaluacion" >
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group is-empty">
                        <label class="bmd-label-floating">En que empresa realizo la practica.</label>
                        <input type="text"
                               class="form-control"
                               id="empresa"
                               formControlName="empresa"
                               >
                               <span *ngIf="!formularioEvaluacion.get('empresa').valid && formularioEvaluacion.get('empresa').touched">

                                  <div *ngIf="formularioEvaluacion.get('empresa').errors['required']" class="text-danger"> Este campo es necesario</div>
                               </span>

                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group is-empty">
                        <label>Asesor de práctica</label>
                        <select class="form-control"
                                id="profesorAsesor"
                                formControlName="profesorAsesor"
                                >
                                [(ngModel)]="cedulaAsesor"
                                <option *ngFor="let profesorAsesor of asesores | async" [value]="profesorAsesor.Cedula">{{profesorAsesor.Nombre}}</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group is-empty" >
                        <label>¿Cómo calificaría el evento de vinculación con las empresas?</label>
                        <select class="form-control"
                                id="eventoVinculacion"
                                formControlName="eventoVinculacion"
                                >
                                <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group is-empty">
                        <label class="bmd-label-floating">¿Qué considera que se puede mejorar en le evento de vinculación con las empresas?</label>
                        <input type="text"
                               class="form-control"
                               id="eventoVinculacionMejora"
                               formControlName="eventoVinculacionMejora"
                               >
                               <span *ngIf="!formularioEvaluacion.get('eventoVinculacionMejora').valid && formularioEvaluacion.get('eventoVinculacionMejora').touched">

                                  <div *ngIf="formularioEvaluacion.get('eventoVinculacionMejora').errors['required']" class="text-danger"> Este campo es necesario</div>
                               </span>

                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group is-empty" >
                        <label>¿Cómo calificaría la presentación y aprobación del anteproyecto de práctica?</label>
                        <select class="form-control"
                                id="anteproyecto"
                                formControlName="anteproyecto"
                                >
                                <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group is-empty">
                        <label class="bmd-label-floating">¿Cómo podríamos mejorar la presentación y aprobación del anteproyecto de Práctica?</label>
                        <input type="text"
                               class="form-control"
                               id="anteproyectoMejora"
                               formControlName="anteproyectoMejora"
                               >
                               <span *ngIf="!formularioEvaluacion.get('anteproyectoMejora').valid && formularioEvaluacion.get('anteproyectoMejora').touched">
                                  <div *ngIf="formularioEvaluacion.get('anteproyectoMejora').errors['required']" class="text-danger"> Este campo es necesario</div>
                               </span>

                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group is-empty" >
                        <label>¿Cómo calificaría el apoyo de parte del coordinador de práctica durante el proceso? </label>
                        <select class="form-control"
                                id="coordinador"
                                formControlName="coordinador"
                                >
                                <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group is-empty">
                        <label class="bmd-label-floating">¿Qué podría haber hecho el coordinador de práctica mejor para ayudar durante el proceso?</label>
                        <input type="text"
                               class="form-control"
                               id="coordinadorMejora"
                               formControlName="coordinadorMejora"
                               >
                               <span *ngIf="!formularioEvaluacion.get('coordinadorMejora').valid && formularioEvaluacion.get('coordinadorMejora').touched">
                                  <div *ngIf="formularioEvaluacion.get('coordinadorMejora').errors['required']" class="text-danger"> Este campo es necesario</div>
                               </span>

                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group is-empty" >
                        <label>¿Cómo calificaría la labor y apoyo del asesor de su asesor de práctica?</label>
                        <select class="form-control"
                                id="asesor"
                                formControlName="asesor"
                                >
                                <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group is-empty">
                        <label class="bmd-label-floating">¿Qué podría haber hecho su asesor de práctica mejor para ayudar durante el proceso?</label>
                        <input type="text"
                               class="form-control"
                               id="asesorMejora"
                               formControlName="asesorMejora"
                               >
                               <span *ngIf="!formularioEvaluacion.get('asesorMejora').valid && formularioEvaluacion.get('asesorMejora').touched">
                                  <div *ngIf="formularioEvaluacion.get('asesorMejora').errors['required']" class="text-danger"> Este campo es necesario</div>
                               </span>

                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group is-empty" >
                        <label>¿Cómo calificaría a la empresa donde hizo la práctica?</label>
                        <select class="form-control"
                                id="calificaconEmpresa"
                                formControlName="calificaconEmpresa"
                                >
                                <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group is-empty" >
                        <label>¿Cómo calificaría el proceso general de práctica?</label>
                        <select class="form-control"
                                id="practicaGeneral"
                                formControlName="practicaGeneral"
                                >
                                <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group is-empty" >
                        <label>¿Cuántas visitas hizo su profesor asesor a la empresa?</label>
                        <select class="form-control"
                                id="visitasAsesor"
                                formControlName="visitasAsesor"
                                >
                                <option *ngFor="let visitas of visitas" [value]="visitas">{{visitas}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group is-empty">
                        <label class="bmd-label-floating">¿Qué podría haber hecho su asesor de práctica mejor para ayudar durante el proceso?</label>
                        <input type="text"
                               class="form-control"
                               id="mejoraGeneral"
                               formControlName="mejoraGeneral"
                               >
                               <span *ngIf="!formularioEvaluacion.get('mejoraGeneral').valid && formularioEvaluacion.get('mejoraGeneral').touched">
                                  <div *ngIf="formularioEvaluacion.get('mejoraGeneral').errors['required']" class="text-danger"> Este campo es necesario</div>
                               </span>

                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <button (click)="enviarEvaluacion()" type="button" rel="tooltip" title="" class="btn btn-success btn-block btn-sm" data-original-title="Edit Task" data-_extension-text-contrast="">
                        Enviar
                     </button>
                  </div>
               </div>
               <div class="clearfix"></div>
            </form>
         </div>
      </div>
   </div>
</div>
