<div class="col-md-10 offset-1">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Crear profesor</h4>
    </div>
    <div class="card-body">
      <form>
        <!--<div class="row">-->
          <!--<div class="col-md-4">-->
            <!--<div class="form-group">-->
              <!--<label class="bmd-label-floating">Nombre de usuario</label>-->
              <!--<input type="text" class="form-control">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4">-->
            <!--<div class="form-group">-->
              <!--<label class="bmd-label-floating">Contraseña</label>-->
              <!--<input type="password" class="form-control">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4">-->
            <!--<div class="form-group">-->
              <!--<label class="bmd-label-floating">Confirmar contraseña</label>-->
              <!--<input type="password" class="form-control">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Nombre</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Primer Apellido</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Segundo Apellido</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Cedula</label>
              <input type="number" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Correo</label>
              <input type="email" class="form-control">
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label >Numero de contacto</label>
              <input type="number" class="form-control">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label >Genero</label>
              <select class="form-control">
                <option >Masculino</option>
                <option >Femenino</option>
              </select>
            </div>
          </div>
        </div>



        <button class="btn btn-primary pull-right" (click)="agregarProfesor()">Crear profesor</button>
        <button class="btn btn-danger pull-right" routerLink="/coordinadores/profesores">Cancelar</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
