<div class="col-md-12">
  <a routerLink="crearCoordinador" class="btn btn-primary">Agregar coordinador</a>
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple">
      <h4 class="title ">Coordinadores</h4>
    </div>
    <div class="card-content table-responsive">
      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Nombre Completo
        </th>
        <th>
          Cédula
        </th>
        </thead>
        <tbody>
        <tr *ngFor='let coordinator of coordinadores | async'>
          <td>{{coordinator.Nombre}} {{coordinator.SegundoNombre}} {{coordinator.Apellido}} {{coordinator.SegundoApellido}}</td>
          <td>{{coordinator.Cedula}}</td>
          <td><button class="btn btn-primary" >Seleccionar</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
