<div class="col-md-12">
  <a class="btn btn-primary" routerLink="aprobarEstudiantes" >Aprobar estudiantes</a>
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple">
      <h4 class="title ">Estudiantes en practica</h4>
    </div>
    <div class="card-content table-responsive">
      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Nombre
        </th>
        <th>
          Correo
        </th>
        <th>
          Telefono
        </th>
        <th>
          Carnet
        </th>

        </thead>
        <tbody>
        <tr *ngFor="let estudiante of estudiantes | async">
          <td>{{ estudiante.Nombre + ' ' + estudiante.Apellido + ' ' + estudiante.SegundoApellido }}</td>
          <td>{{ estudiante.correos[0] }}</td>
          <td>{{ estudiante.numeros[0] }}</td>
          <td>{{ estudiante.Carne }}</td>
          <td><button class="btn btn-primary" (click)="seleccionarEstudiante(estudiante.Cedula)">Seleccionar</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
