<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2 class="card-title">Sedes</h2>
  </div>
</div>

<div class="card-body table-responsive">
  <table class="table table-hover">

    <thead class="text-warning">
      <tr>
        <th>Nombre Sede</th>
        <th>Ubicación</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor='let sede of sedes | async' >
        <td>
          <div (click)="view(sede.IdSede, sede.NombreSede)" *ngIf="!sede.edit; else elseBlock1">{{sede.NombreSede}}</div>
          <ng-template #elseBlock1>
            <input type='text' value="{{sede.NombreSede}}" [(ngModel)]="sede.NombreSede"/>
          </ng-template>
        </td>

        <td>
          <div *ngIf="!sede.edit; else elseBlock3">{{sede.Ubicacion}}</div>
          <ng-template #elseBlock3>
            <input type='text' value="{{sede.Ubicacion}}" [(ngModel)]="sede.Ubicacion"/>
          </ng-template>
        </td>
        <td>
          <div class="btn-group" role="group">
            <button (click)="editarSede(sede)" type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task" data-_extension-text-contrast="">
              <i class="material-icons">edit</i>
            </button>
          </div>
        </td>
      </tr>
      <!--agregar-->
      <tr>
        <td>
          <input type='text' value="{{nuevoNombreSede}}" [(ngModel)]="nuevoNombreSede"/>
        </td>

        <td>
          <input type='text' value="{{nuevaUbicacion}}" [(ngModel)]="nuevaUbicacion"/>
        </td>
        <td>
          <div class="btn-group" role="group">
            <button (click)="agregarSede()" type="button" rel="tooltip" title="" class="btn btn-success btn-link btn-sm" data-original-title="Edit Task" data-_extension-text-contrast="">
              <i class="material-icons">add</i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>

  </table>
</div>
