<div class="col-md-12">
  <a class="btn btn-primary" routerLink="/coordinadores/estudiantes" >Atras</a>
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple">
      <h4 class="title ">Estudiantes a realizar practica</h4>
    </div>
    <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead class=" text-primary text-left">
          <th>
            Nombre
          </th>
          <th>
            Correo
          </th>
          <th>
            Telefono
          </th>
          <th>
            Carnet
          </th>
          <th>
            Informacion personal
          </th>
          <th>
            Estado
          </th>


          </thead>
          <tbody>
          <tr>
            <td>Alvaro Castro Venegas</td>
            <td>alvarocastro74@gmail.com</td>
            <td>86424112</td>
            <td>2015099369</td>
            <td><i class="material-icons text-center">account_box</i></td>
            <td>
              <div class="btn-group">
                <button class="btn btn-primary" (click)="aprobarEstudiante()">Aprobar</button>
                <button class="btn btn-primary" (click)="desaprobarEstudiante()">Desaprobar</button>
              </div>

            </td>

          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
