<div class="col-md-12">
  <a routerLink="crearSemestre" class="btn btn-primary">Agregar semestre</a>
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple">
      <h4 class="title ">Semestres</h4>
    </div>
    <div class="card-content table-responsive">
      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Año
        </th>
        <th>
          Número de semestre
        </th>

        </thead>
        <tbody>
        <tr *ngFor='let semester of semestres | async'>
          <td>{{semester.ano}}</td>
          <td>{{semester.numeroSemestre}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
