<div>
   <h2 class="card-title">Carreras</h2> </div>
<div class="card-body table-responsive">
   <table class="table table-hover">

      <thead class="text-warning">
         <tr>
            <th>Carrera</th>
            <th></th>
         </tr>
      </thead>

      <tbody>
         <tr *ngFor='let carrera of carreras | async'>
            <td>
               <div *ngIf="!carrera.edit; else elseBlock">{{carrera.NombreCarrera}}</div>
               <ng-template #elseBlock>
                  <input type='text' value="{{carrera.NombreCarrera}}" [(ngModel)]="carrera.NombreCarrera"/>
               </ng-template>
            </td>
            <td align="right">
               <div class="btn-group" role="group">
                  <button (click)="editarCarrera(carrera)" type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task" data-_extension-text-contrast="">
                     <i class="material-icons">edit</i>
                  </button>
               </div>
            </td>
         </tr>
         <tr>
            <td>
               <input type='text' value="{{nuevoNombreCarrera}}" [(ngModel)]="nuevoNombreCarrera"/>
            </td>
            <td align="right">
               <div class="btn-group" role="group">
                  <button (click)="agregarCarrera()" type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task" data-_extension-text-contrast="">
                     <i class="material-icons">add</i>
                  </button>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>
