<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2 class="card-title">Charlas</h2>
  </div>
</div>

<div class="card-body table-responsive">
  <table class="table table-hover">

    <thead class="text-warning">
      <tr>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        <th>Dia</th>
        <th>Nombre</th>
        <th>Descripcion</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor='let evento of eventos | async'>
        <td> {{evento.HoraInicio}} </td>
        <td> {{evento.HoraFin}} </td>
        <td> {{evento.Dia.split('T')[0]}} </td>
        <td> {{evento.Nombre}} </td>
        <td> {{evento.Descripcion}} </td>
      </tr>
    </tbody>

  </table>
</div>
