<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple">
      <h4 class="title ">Eventos proximos</h4>
    </div>
    <div class="card-content table-responsive">
      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Hora Inicio
        </th>
        <th>
          Hora Finalización
        </th>
        <th>
          Día
        </th>
        <th>
          Tipo de evento
        </th>

        </thead>
        <tbody>
        <tr >
          <td> 7:30</td>
          <td>12:30</td>
          <td>23/08/18</td>
          <td>Vinculacion con la empresa Semestre II</td>
          <td><button class="btn btn-primary" >Seleccionar</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
