<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card">
          <div class=" card-header" data-background-color="purple">
            <h2 class="card-title text-center">Registro estudiante</h2>
          </div>
          <div class="card-content">

            <app-crear-persona></app-crear-persona>
            <app-crear-usuario></app-crear-usuario>
            <app-crear-estudiante></app-crear-estudiante>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <button class="btn btn-primary btn-round">Registrarse</button>
                <a routerLink="" class="btn btn-danger btn-round">Cancelar</a>
              </div>

            </div>


          </div>

        </div>


      </div>
    </div>
  </div>
</div>


