<div class="col-md-12">
  <a class="btn btn-primary" routerLink="agregarEvento" >Agregar evento</a>
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple">
      <h4 class="title ">Eventos proximos</h4>
    </div>
    <div class="card-content table-responsive">
      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Hora Inicio
        </th>
        <th>
          Hora Finalización
        </th>
        <th>
          Día
        </th>
        <th>
          Tipo de evento
        </th>

        </thead>
        <tbody>
        <tr *ngFor="let evento of eventos | async">
          <td>{{ evento.horaInicio }}</td>
          <td>{{ evento.horaFin }}</td>
          <td>{{ evento.dia.split('T')[0] }}</td>
          <td>{{ evento.nombre }}</td>
          <td><button class="btn btn-primary" (click)="seleccionarEvento(evento.idEvento)">Seleccionar</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
