<div class="col-md-12">
  <a class="btn btn-primary" routerLink="agregarProfesor" >Agregar profesor de practica</a>
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple" >
      <h4 class="title ">Profesores de practica</h4>
    </div>
    <div class="card-content table-responsive">

      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Nombre
        </th>
        <th>
          Correo
        </th>
        <th>
          Telefono
        </th>

        </thead>
        <tbody>
        <tr *ngFor="let profesor of profesores | async">
          <td>{{ profesor.Nombre + ' ' + profesor.Apellido + ' ' + profesor.SegundoApellido }}</td>
          <td>{{ profesor.correos[0] }}</td>
          <td>{{ profesor.numeros[0] }}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-primary" (click)="seleccionarProfesor(profesor.Cedula)">Seleccionar</button>
              <button (click)="eliminarProfesor(profesor.Cedula)" class="btn btn-primary ">Eliminar </button>
            </div>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
