<div class="col-md-12">
  <a class="btn btn-primary" routerLink="agregarProfesor" >Agregar profesor de practica</a>
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple" >
      <h4 class="title ">Profesores de practica</h4>
    </div>
    <div class="card-content table-responsive">

      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Nombre
        </th>
        <th>
          Correo
        </th>
        <th>
          Telefono
        </th>

        </thead>
        <tbody>
        <tr>
          <td>Adriana Alvarez</td>
          <td>aalvarez@gmail.com</td>
          <td>938449578</td>
          <td><i class="material-icons">edit</i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
