<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-header card-header-primary" data-background-color="purple">
        <h4 class="title">Crear documento</h4>
      </div>
      <div class="card-content">
        <form [formGroup] = "formularioDocumento">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Nombre</label>
                <input type="text"
                       class="form-control"
                       formControlName="nombreDocumento"
                >
                <span *ngIf="!formularioDocumento.get('nombreDocumento').valid && formularioDocumento.get('nombreDocumento').touched">
                  <div *ngIf="formularioDocumento.get('nombreDocumento').errors['required']" class="text-danger">Este campo es requerido</div>
                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Tipo de documento</label>
                <select type="text"
                       class="form-control"
                       formControlName="tipoDocumento"
                >
                  <option value="estudiante">Estudiante</option>
                  <option value="empresa">Empresa</option>
                </select>
                <span *ngIf="!formularioDocumento.get('tipoDocumento').valid && formularioDocumento.get('tipoDocumento').touched">
                  <div *ngIf="formularioDocumento.get('tipoDocumento').errors['required']" class="text-danger">Este campo es requerido</div>
                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label >Documento</label>
                <input type="file"
                       style="display: none"
                       (change)="cambioEnArchivo($event)"
                       #archivo
                       formControlName="documento">

              </div>
              <button class="btn btn-primary" (click)="archivo.click()">Seleccione su archivo</button>
              <br>
              <label>Nombre del archivo: {{nombreArchivo}}</label>
              <br>
              <span *ngIf="!formularioDocumento.get('documento').valid && formularioDocumento.get('documento').touched">
                  <div *ngIf="formularioDocumento.get('documento').errors['required']"></div>
              </span>
              <span *ngIf="!formatoArchivoCorrecto" class="text-danger">
                <div>Los formatos permitidos son DOC, DOCX, PDF</div>
              </span>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Descripción</label>
                <textarea
                  rows="1"
                  class="form-control"
                  formControlName="descripcion"
                ></textarea>
                <span *ngIf="!formularioDocumento.get('descripcion').valid && formularioDocumento.get('descripcion').touched">
                  <div *ngIf="formularioDocumento.get('descripcion').errors['required']" class="text-danger">Este campo es requerido</div>
                </span>
              </div>
            </div>
          </div>
          <div class="text-danger">{{error}}</div>
          <button class="btn btn-primary btn-round pull-left" (click)="agregarDocumento()">Crear documento</button>
          <button class="btn btn-danger btn-round pull-left" routerLink="/coordinadores/documentos">Cancelar</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
