<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-header card-header-primary" data-background-color="purple">
        <h4 class="card-title">Carrera a la cual mandar solicitud</h4>
      </div>
      <div class="card-content">
        <form [formGroup] = "formularioSolicitudEmpresa">


          <div class="row">
            <div class="col-md-4">
              <label class="bmd-label-floating"> Universidades</label>
              <div class="form-group">
                <select class="form-control" (change)="obtenerSedes()"
                        id="universidades"
                        formControlName="universidad">
                  <option *ngFor="let universidad of universidades | async" [value]="universidad.IdUniversidad" >
                    {{ universidad.NombreUniversidad }}
                  </option>
                </select>
              </div>

            </div>

            <div class="col-md-4">
              <label class="bmd-label-floating"> Sedes</label>
              <div class="form-group">
                <select class="form-control" (change)="obtenerCarreras()"
                        id="sedes"
                        formControlName="sede">
                  <option *ngFor="let sede of sedes | async" [value]="sede.IdSede" >
                    {{ sede.NombreSede }}
                  </option>
                </select>
              </div>

            </div>

            <div class="col-md-4">
              <label class="bmd-label-floating"> Carreras</label>
              <div class="form-group">
                <select class="form-control"
                        id="carreras"
                        formControlName="carrera">
                  <option *ngFor="let carrera of carreras | async" [value]="carrera.IdCarrera" >
                    {{ carrera.NombreCarrera }}
                  </option>
                </select>
              </div>

            </div>
          </div>
          <div class="clearfix"></div>
          <button class="btn btn-primary" (click)="enviarSolicitud()">Mandar solicitud</button>
          <button class="btn btn-danger" routerLink="../">Cancelar</button>
        </form>

      </div>
    </div>
  </div>

</div>
