<div class="col-md-12">
  <a routerLink="crearAdministrador" class="btn btn-primary">Agregar administrador</a>
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple">
      <h4 class="title ">Administradores</h4>
    </div>
    <div class="card-content table-responsive">
      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Nombre Completo
        </th>
        <th>
          Cédula
        </th>
        </thead>
        <tbody>
        <tr *ngFor='let administrador of administradores | async'>
          <td>{{administrador.Nombre}} {{administrador.Apellido}} {{administrador.SegundoApellido}}</td>
          <td>{{administrador.Cedula}}</td>
          <td><button class="btn btn-primary" >Seleccionar</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
