<div class="col-md-12">
   <div class="card">

      <div class="card-header card-header-warning" data-background-color="purple">
         <div class="row">
            <div class="col-md-10">
               <h4 class="card-title">Administradores</h4>
            </div>
            <div class="col-md-2" align="right">
               <button type="button" rel="tooltip" title="" class="btn btn-success btn-link btn-sm" data-original-title="Edit Task" data-_extension-text-contrast="">
                  <i class="material-icons">add</i>
               </button>
            </div>
         </div>
      </div>

      <div class="card-body table-responsive">
         <table class="table table-hover">

            <thead class="text-warning">
               <tr>
                  <th>Nombre Completo</th>
                  <th>Telefonos</th>
                  <th>Correos</th>
                  <th>Acciones</th>
               </tr>
            </thead>

            <tbody>
               <tr>
                  <td>Ignacio Murillo Masis</td>
                  <td> 
                     <a data-toggle="collapse" href="#telefono1">Telefonos <i class="fa fa-caret-down"></i></a>
                     <div id="telefono1" class="panel-collapse collapse">
                        <div>Telefono 1</div>
                        <div>Telefono 2</div>
                        <div>Telefono 3</div>
                     </div>
                  </td>
                  <td>
                     <a data-toggle="collapse" href="#correos1">Correos <i class="fa fa-caret-down"></i></a>
                     <div id="correos1" class="panel-collapse collapse">
                        <div>correo 1</div>
                        <div>correo 2</div>
                        <div>correo 3</div>
                     </div>
                  </td>
                  <td>
                     <div class="btn-group" role="group">
                        <button (click)="change()" type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task" data-_extension-text-contrast="">
                           <i class="material-icons">edit</i>
                        </button>
                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove" data-_extension-text-contrast="" > <i class="material-icons">close</i>
                        </button>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
