<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple" >
      <h4 class="title ">Empresas de la carrera</h4>
    </div>
    <div class="card-content table-responsive">
      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Nombre de la empresa
        </th>
        <th>
          Nombre del contacto con la empresa
        </th>
        <th>
          Correo del contacto
        </th>
        <th>
          Numero del contacto
        </th>

        </thead>
        <tbody>
        <tr *ngFor="let empresa of empresas | async">
          <td>{{ empresa.NombreEmpresa }}</td>
          <td>{{ empresa.Nombre  + ' ' + empresa.Apellido + ' ' + empresa.SegundoApellido}}</td>
          <td>{{ empresa.correos[0] }}</td>
          <td>{{ empresa.numeros[0] }}</td>
          <td>
            <div class="btn-group">
              <button  class="btn btn-primary btn-round" (click)="eliminarEmpresa(empresa.CedulaJuridica)">Eliminar</button>
              <button  class="btn btn-primary btn-round" (click)="seleccionarEmpresa(empresa.CedulaJuridica)">Seleccionar</button>
            </div>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
