<div *ngFor='let universidad of universidades | async'>
   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="card card-stats">
         <div class="card-header card-header-warning card-header-icon" data-background-color="purple">
            <div class="card-icon">
               <i class="fa fa-university"></i>
            </div>
         </div>
         <p (click)='view(universidad.IdUniversidad)' *ngIf="!universidad.edit; else elseBlock">{{universidad.NombreUniversidad}}</p>
         <ng-template #elseBlock>
            <input type='text' value="{{universidad.NombreUniversidad}}" [(ngModel)]="universidad.NombreUniversidad"/>
         </ng-template>
         <div class="card-footer">
            <div class="btn-group pull-right" role="group">
               <button (click)="edit(universidad)" type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task" data-_extension-text-contrast="">
                  <i class="material-icons">edit</i>
               </button>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
   <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon" data-background-color="purple">
         <div class="card-icon">
            <i class="fa fa-university"></i>
         </div>
      </div>
      <label for="nombreNuevaUniversidad">Nombre: </label>
      <input id="nombreNuevaUniversidad" type='text' [(ngModel)]="nombreNuevaUniversidad"/>
      <div class="card-footer">
         <div class="btn-group pull-right" role="group">
            <button (click)="add()" type="button" rel="tooltip" title="" class="btn btn-primary btn-success btn-sm" data-original-title="Edit Task" data-_extension-text-contrast="">
               <i class="material-icons">add</i>
            </button>
         </div>
      </div>
   </div>
</div>
