<div class="col-md-12">
   <div class="card">
      <div class="card-header card-header-warning" data-background-color="purple">
         <div class="row">
            <div class="col-md-10">
               <h4 class="card-title">Cambiar Datos Personales</h4>
            </div>
            <div class="col-md-2" align="right">
            </div>
         </div>
      </div>
      <div class="card-body table-responsive">
        <div class="row" *ngIf="estudiante" style="padding: 25px">
          <div class="col-md-6">
            <input [(ngModel)]="estudiante.Nombre" type="text" class="form-control" placeholder="Nombre"/>
            <input [(ngModel)]="estudiante.SegundoNombre" type="text" class="form-control" placeholder="SegundoNombre"/>
            <input [(ngModel)]="estudiante.Apellido" type="text" class="form-control" placeholder="Apellido"/>
            <input [(ngModel)]="estudiante.SegundoApellido" type="text" class="form-control" placeholder="SegundoApellido"/>
          </div>
          <div class="col-md-6">
            <select [(ngModel)]="estudiante.Sexo" class="form-control" name="cars">
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
            </select>
          </div>
          <div class="col-md-6">
            <button (click)="modificarEstudiante()" type="button" rel="tooltip" title="" class="btn btn-success btn-link btn-block" data-original-title="Edit Task" data-_extension-text-contrast="">
              <span>editar <i class="material-icons">edit</i></span>
            </button>
          </div>
        </div>
      </div>
   </div>
</div>
