<br>
<br>
<br>
<br>

<div class="main-content" >
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8 col-md-offset-2">
        <div class="card">
          <div class=" card-header" data-background-color="purple">
            <h2 class="card-title text-center">Inicio de sesion</h2>
          </div>
          <div class="card-content">

              <div >
                <form >
                  <div class="col-md-8 col-md-offset-2">
                    <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
                      <div class="form-group is-empty"><input type="text" class="form-control" placeholder="First Name..."><span class="material-input"></span></div>
                    </div>

                  </div>

                  <div class="col-md-8 col-md-offset-2">
                    <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                      <div class="form-group is-empty"><input type="password" placeholder="Password..." class="form-control"><span class="material-input"></span></div>
                    </div>
                  </div>

                  <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                      <button  (click)="change()" class="btn btn-primary btn-round">Iniciar sesion</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
