<br>
<br>
<br>
<br>

<div class="main-content" >
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class=" card-header" data-background-color="purple">
            <h2 class="card-title text-center">Inicio de sesion</h2>
          </div>
          <div class="card-content">

            <form [formGroup] = "formularioLogin" (ngSubmit)="enviarFormulario()">
              <br>

              <div class="col-md-10 col-md-offset-1">
                <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
                  <div class="form-group is-empty">
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre de usuario"
                           formControlName="nombreUsuario"
                    >
                    <span *ngIf="!formularioLogin.get('nombreUsuario').valid && formularioLogin.get('nombreUsuario').touched">

                      <div *ngIf="formularioLogin.get('nombreUsuario').errors['required']" class="text-danger"> Este campo es necesario</div>
                    </span>
                    <span class="material-input"></span>
                  </div>
                </div>

              </div>

              <div class="col-md-10 col-md-offset-1">
                <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                  <div class="form-group is-empty">
                    <input type="password"
                           placeholder="Contraseña"
                           class="form-control"
                           formControlName="contrasena"
                    >
                    <span *ngIf="!formularioLogin.get('contrasena').valid && formularioLogin.get('contrasena').touched">

                      <div *ngIf="formularioLogin.get('contrasena').errors['required']" class="text-danger"> Este campo es necesario</div>
                    </span>
                    <span class="material-input"></span></div>
                </div>
              </div>

              <br>

              <div class="col-md-10 col-md-offset-1">
                <div class="text-danger">{{ error }}</div>
                <div class="text-center">
                  <button  type="submit" class="btn btn-primary btn-round">Iniciar sesion</button>
                </div>
              </div>


            </form>
            <div class="col-md-12 " style="text-align: center">
              <div class="btn-group">
                <a routerLink="registroEmpresa" class="btn btn-primary btn-round">Registro empresas</a>
                <a routerLink="registroEstudiante" class="btn btn-primary btn-round">Registro estudiantes</a>
                <a class="btn btn-primary btn-round">Documentos publicos</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
